html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-navigation {
  background-image: url(/img/kosmo.png);
  background-size: 1400px;
  color: white;
  padding: 10px 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-item {
}
.menu-link {
  text-transform: uppercase;
  padding: 15px;
  font-size: 16px;
  transition: 0.4s;
}

.menu-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-logo {
  display: flex;
  font-size: 16;
  margin-bottom: -17px;
  text-transform: uppercase;
}

.intro {
  padding: 60px 0;
}
.intro-inner {
  display: flex;
  gap: 20px;
}
